h1, h2, h3, h4, h5, h6, p {
    font-family: 'Roboto', sans-serif;
}

body {
    text-align: center;
    padding: 1rem;
}

#draw-board {
    border: 1px solid red;
    width: 20rem;
    height: 20rem;
    margin: 2rem auto;
}